In [ ]:
[Jane, Kim]

In [ ]:
seoul = ['jane', 'Kim', 'Kim']

In [ ]:

def solution(seoul):
    count = seoul.index('Kim')
#     count = 0
#     for i in seoul:
#         print(i)
#         if i == 'Kim':
#             count +=1
    answer = '김성방은 {}에 있다'.format(count)
    return answer

In [ ]:
solution(seoul)

In [ ]:
def solution(n):
    num = str(n)
    answer = num[::-1]
    answer = list(map(int,answer))
    return answer

In [ ]:
solution(12345)

In [ ]:
def solution(brown, red):
    num = brown + red
    answer = []
    return answer

In [ ]:
10	2	[4, 3]
8	1	[3, 3]
24	24	[8, 6]

In [ ]:
n = int(input())
for i in range(1,n+1):
    print(' '*(n-i),'*'*(2*i-1))

In [ ]:
s = 0
for i in range(1,102):
    s += i
print(s)

In [ ]:
<여기에 class를 작성하세요.>

In [ ]:
class Wizard:
    def __init__(self, health, mana, armor):
        self.health = health
        self.mana = mana
        self.armor = armor
    
    def attack(self):
        print('파이어볼')

In [ ]:
x = Wizard(health = 545, mana = 210, armor = 10)
print(x.health, x.mana, x.armor)
x.attack()

In [ ]:
list_g = '수성 금성 지구 화성 목성 토성 천왕성 해왕성'

In [ ]:
list_g = list_g.split()

In [ ]:
def select(num):
    return list_g[num-1]

In [ ]:
select(1)

In [ ]:
n = int(input())
if n%3 ==0:
    print('짝')
else:
    print(n)

In [ ]:
name = input()
print('안녕하세요. 저는 {}입니다.'.format(name))

In [ ]:
string = '거꾸로'
string[::-1]

In [ ]:
tall = int(input())

if tall >= 150:
    print('YES')
else:
    print('NO')

In [ ]:
import math
data = list(map(int, input().split()))

print(int(sum(data)/3))

In [ ]:
n = list(map(int,input().split()))
print(n)
print(n[0]//n[1], n[0]%n[1])

In [ ]:
10//2

In [ ]:
n = input()
n.upper()

In [ ]:
r = int(input())

def average_r(r):
    result = r*r*3.14
    return result

In [ ]:
r = int(input())
average_r(r)

In [ ]:
s_list = {'수성':'Mercury', '금성':'Venus', '지구':'Earth', '화성':'Mars', '목성':'Jupiter', '토성':'Saturn', '천왕성':'Uranus', '해왕성':'Neptune'}

In [ ]:
def chane_lang(s):
    return s_list[s]

In [ ]:
chane_lang('수성')

In [ ]:
name = list(map(str, input().split()))
score = list(map(int, input().split()))

In [ ]:
def mkdict(name, score):
    dic = {name[0]:score[0], name[1]:score[1]}
    return dic

In [ ]:
mkdict(name, score)

In [ ]:
keys = input().split()
values = map(int, input().split())
print(keys)
result = dict(zip(keys, values))
print(result)

In [ ]:
n = 'python'

def p(n):
    for i in range(len(n) - 1):
        print(n[i],n[i+1], sep='')

In [ ]:
p(n)

In [ ]:
for i in range(len(n) - 1):
    print(n[i], n[i+1], sep = '')

In [ ]:
진구는 영어 학원 아르바이트를 하고 있습니다. 반 아이들은 알파벳을 공부하는 학생들인데 오늘은 대문자 쓰기 시험을 봤습니다.

**알파벳 하나만을 입력하고 그 알파벳이 대문자이면 YES를 아니면 NO를 출력하는 프로그램**을 만들어 주세요.

→ 알파벳 여러개를 입력하고 여러개 입력한 것 중 대문자만 출력해주는 프로그램도 만들어보세요.

In [ ]:
n = 'p'

if n.isupper():
    print('Yes')
else:
    print('NO')

In [ ]:
n = 'PythonJaVa'

for i in range(len(n)):
    if n[i].isupper():
        print(n[i])

In [ ]:
n = 'pineapple is yummy'
n.index('e')

In [ ]:
n.find('e')

In [ ]:
n

In [ ]:
n = '안녕하세요. 저는 제주대학교 컴퓨터공학전공 혜림입니다.'
n = n.split()
len(n)

In [2]:
n = list(map(int, input().split())) 

# for i in range(n,-1,-1):
#     print(i, sep='')
n[::-1]

1 2 3 4 5

[5, 4, 3, 2, 1]

In [4]:
n = input()
l = list(n.strip().split())
len1 = len(l) - 1
for i in range(len1, -1, -1):
    print(l[i], end=' ')

1 2 3 4 5
5 4 3 2 1

In [8]:
n = list(map(int, input().split())) #176 156 155 165 166 169

if sorted(n) == n:
    print('YES')
else:
    print('NO')

176 156 155 165 166 169
NO

In [15]:
def one(n):
    def two(value):
        sq = value**n
        return sq
    return two

a = one(2)
b = one(3)
c = one(4)
print(a(10))
print(b(10))
print(c(10))

100
1000
10000

In [18]:
n = int(input())
for i in range(1,10):
    print(n*i, end=' ')

3
3 6 9 12 15 18 21 24 27

In [ ]:
입력
원범 원범 혜원 혜원 혜원 혜원 유진 유진

출력
혜원(이)가 총 4표로 반장이 되었습니다.

In [30]:
n  = list(map(str, input().strip().split()))

count=0
for i in n:
    if i =='혜원':
        count += 1

print('혜원(이)가 총 {}표로 반장이 되었습니다.'.format(count))

원범 원범 혜원 혜원 혜원 혜원 유진 유진
혜원(이)가 총 4표로 반장이 되었습니다.

In [46]:
data = list(map(str, input().split()))
count = 0
for i in range(len(data)):
    if data.count(data[i-1]) < data.count(data[i]):
        count = i
        print(count)
print("{}(이)가 총 {}표로 반장이 되었습니다.".format(data[count], data.count(data[count])))

원범 원범 혜원 혜원 혜원 원범 혜원 원범 혜원 유진 유진
0
2
6
8
혜원(이)가 총 5표로 반장이 되었습니다.

In [35]:
data.count('혜원')

4

In [39]:
for i in range(len(n)):
    print(n.count(n[i]))

2
2
4
4
4
4
2
2

In [ ]:
점수입력 : 97 86 75 66 55 97 85 97 97 95
출력 : 6

In [100]:
l = input().split()
l = [int(i) for i in l]

count = 0
for i in range(3):
    top = max(l)
#     print(top)
    count += l.count(top)
#     print(l.count(top))
    for j in range(l.count(top)):
        print(j)
        l.remove(top)
        print(j)
print(count)

97 86 75 66 55 97 85 97 97 95
0
0
1
1
2
2
3
3
0
0
0
0
6

In [ ]:
입력 : querty
출력 : euerty

입력 : hqllo my namq is hyqwon
출력 : hello my name is hyewon

In [103]:
n = input()

n.replace('q','e')

hello my name is hyewon

'hello my name is hyewon'

In [ ]:
50
5
20
20
20
20
20

출력
2

In [114]:
limit = int(input())
count = int(input())
n = []

for i in range(count):
    n.append(int(input()))

total = 0

for i in range(count):
    total += n[i]
    print(total, limit)
    if total > limit:
        print(i)
        break

# for i in range(count):
#     total += n[i]
#     if total <=limit:
#         print(total, limit) 
#     else:
#         print(i)
#         break

100
5
30
30
30
20
10
30 100
60 100
90 100
110 100
3

In [ ]:
숫자가 주어지면 소수인지 아닌지 판별하는 프로그램을 작성해주세요.
소수이면 YES로, 소수가 아니면 NO로 출력해주세요.
(소수 : 1과 자기 자신만으로 나누어떨어지는 1보다 큰 양의 정수)

In [122]:
n = int(input())

if n > 1 and n % 2 !=0 and n % 3 != 0:
    print('YES')
else:
    print('NO')

1027
YES

In [132]:
import datetime

YEAR = 2020

n = list(map(int, input().split()))
print(n)
d = datetime.datetime(YEAR,n[0], n[1])
print(d.weekday())

5 6
[5, 6]
2

In [129]:
import datetime
m = int(input())
d = int(input())
def findDay(a,b):
    day = ["MON","TUE","WED","THU","FRI","SAT","SUN"]
    return day[datetime.date(2020,a,b).weekday()]
print(findDay(m,d))

5
20
WED

In [148]:
a = int(input())

result = []
while a:
    bina = a % 2
    result.append(bina)
    a = a // 2
    continue
    

for i in range(len(result)-1, -1,-1):
    if len(result) > 4:
        print(result[i], sep=' ',end='')
    else:
        print(result[i], end='')

16
10000

In [151]:
n = input()
total = 0
for i in n:
    total += int(i)
print(total)

18234
18

In [163]:
import time
t = time.time()
t = int(t//(3600*24*365))+1970
print(t)

2020

In [187]:
num_in = list(map(int, input().split()))

num = list(range(1,100))
num_list = num[num_in[0]-1:num_in[1]]
total = 0


for i in num_list:
    for j in str(i):
        print(j)
        total += int(j)
print(total)

1 100
1
2
3
4
5
6
7
8
9
1
0
1
1
1
2
1
3
1
4
1
5
1
6
1
7
1
8
1
9
2
0
2
1
2
2
2
3
2
4
2
5
2
6
2
7
2
8
2
9
3
0
3
1
3
2
3
3
3
4
3
5
3
6
3
7
3
8
3
9
4
0
4
1
4
2
4
3
4
4
4
5
4
6
4
7
4
8
4
9
5
0
5
1
5
2
5
3
5
4
5
5
5
6
5
7
5
8
5
9
6
0
6
1
6
2
6
3
6
4
6
5
6
6
6
7
6
8
6
9
7
0
7
1
7
2
7
3
7
4
7
5
7
6
7
7
7
8
7
9
8
0
8
1
8
2
8
3
8
4
8
5
8
6
8
7
8
8
8
9
9
0
9
1
9
2
9
3
9
4
9
5
9
6
9
7
9
8
9
9
900

In [182]:

s = ''
for i in range(101):
    s += str(i)
print(s)
result = 0
for i in s:
    result += int(i)
print(result)

0123456789101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899100
901